[submodule "gnl"]
	path = gnl
	url = https://github.com/drpaiva/get_next_line.git
[submodule "libft"]
	path = libft
	url = https://github.com/drpaiva/libft.git
[submodule "mlx_linux"]
	path = mlx_linux
	url = https://github.com/drpaiva/minilibx-linux.git
